

:root {
  --title-color: #1e90ff;
  --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main-page{
    width: 700px;
    padding: 40px;
    border: 1px solid black;
}

.line{
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* top section ----------------------------------------- */
.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: bold;
}
.contact{
    display: flex;
    justify-content: center;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.description{
    align-items: center;
    text-align: center;
}

.section-title{
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}


 /* project section ------------------------------- */
.project{
    margin-bottom: 10px;
}

.project-title{
    font-weight: bold;
    margin-bottom: 5px;
}

.project-description{
    text-justify: distribute;
}

.info-title{
    font-weight: bold;
}


/* Education Section ------------------------------------  */

.education ul li{
    margin-left: 20px;
}

/* Skills section ----------------------------------- */

.skills-experience{
    display: flex;
    justify-content: space-between;
}

.skills{
    width: 49%;
}

.skill-item{
    margin-bottom: 10px;
}


.experience{
    width: 49%;
    border-left: 1px solid black;
    padding-left: 20px;
}

.experience-item{
    margin-bottom: 5px;
}

.experience-title{
    font-weight: bold;
}

.skills-title{
    font-weight: bold;
}